-provide(:title, @event.name)

-provide :opengraph do
  %meta{ property: 'og:type', content: 'website' }
  %meta{ property: 'og:url', content: get_url(event_path(@event)) }
  %meta{ property: 'og:title', content: @event.name }
  %meta{ property: 'og:image', content: get_url('/assets/facebook_share2.jpg') }
  %meta{ property: 'og:image', content: get_url('/assets/facebook_share1.jpg') }
  -if @event.facebook_share.present?
    %meta{ property: 'og:description', content: @event.facebook_share }
  -else
    %meta{ property: 'og:description', content: "Be sure to check out the #{@event.name}. Visit nwos.org for more information about this event and other #orchid related events." }

- @twitter_copy = @event.twitter_share.present? ? @event.twitter_share : "Be sure to check out the #{@event.name}. #orchids"

.page-banner
  .photo-banner

.page-header.container
  %p.breadcrumbs
    = link_to "Events", events_path, rel: 'up'
    %i.fa.fa-angle-right
  %h2
    = @event.name

.contrast-box
  .container
    %ul.tags
      - @event.event_categories.each do |c|
        %li 
          =link_to c.category.name, events_category_path(c.category.id)

  .event-information.white-box.container
    .col-1-2
      .table-grid
        .tcell-1-3
          %h3.table-header Date

        .tcell-2-3
          %p
            = render 'date_span_long', event: @event

      .table-grid
        .tcell-1-3
          %h3.table-header Hours

        .tcell-2-3
          = render 'hours', event: @event

      .table-grid
        .tcell-1-3
          %h3.table-header Admission

        .tcell-2-3
          %p
            -if @event.admission_info.present?
              =@event.admission_info.html_safe
            -else
              Free


    .col-1-2.omega
      %h3.table-header.location-header Location

      %p
        =@event.venue
        %br
        -if @event.venue_space.present?
          =@event.venue_space
          %br
        =@event.street_address
        %br
        =@event.city
        ="#{@event.state_province},"
        =@event.zip_code

      %p
        %a{href: get_directions_link("#{@event.street_address}, #{@event.city} #{@event.state_province} #{@event.zip_code}"), target: '_blank'} 
          Get Directions
          %i.fa.fa-angle-right

    - if @event.geocode_lat.present? && @event.geocode_lng.present?
      .google_map_canvas{data: {:"google-map" => true, :lat => @event.geocode_lat, :lng => @event.geocode_lng, :zoom => 14}}
        =@event.venue


  .event-additional-information.white-box.container
    -if @event.description.present?
      %section.event-description.standard-section
        %p=@event.description.html_safe

    -if @event.event_vendors.present?
      %section.event-vendors.standard-section
        = render 'vendors', event: @event


  .container.event-share
    %ul.share-buttons
      %li.col-1-2
        %a.social-media-button.facebook{href: construct_fb_share(event_path(@event)), target: "_blank"} 
          %i.fa.fa-facebook
          Share on Facebook

      %li.col-1-2.omega
        %a.social-media-button.twitter{href: construct_tweet(event_path(@event), u(@twitter_copy)), target: "_blank"}
          %i.fa.fa-twitter
          Share on Twitter
