!!!
%html
  :plain
    <!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><html class="lt-ie9"><![endif]-->
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1, user-scalable=no'}

    %meta{name: "description", content: "The Northwest Orchid Society is a non-profit organization supporting Seattle orchid hobbyists, orchid conservation, education and scholarship."}
    %meta{name: "keywords", content: "Seattle orchid society, orchids, orchid, society, conservation, cultivation, grow, plants, orchid show, orchid sale"}
    %meta{name: "author", content: "Northwest Orchid Society"}

    -if content_for?(:opengraph)
      = yield :opengraph
    - else
      %meta{ property: 'og:type', content: 'website' }
      %meta{ property: 'og:url', content: get_url(root_path) }
      %meta{ property: 'og:title', content: "Northwest Orchid Society" }
      %meta{ property: 'og:image', content: get_url('/assets/facebook_share.jpg') }
      %meta{ property: 'og:description', content: ENV["FB_COPY"] }

    %title 
      = full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    %script{src: "http://maps.googleapis.com/maps/api/js?sensor=false"}
    /[if (lt IE 9)]
      = stylesheet_link_tag "ie8", :media => "all"
      %script{src: "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    = csrf_meta_tags
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45569785-1', 'nwos.org');
      ga('send', 'pageview');

%body
  %header.header
    .navbar
      .navbar-header
        .container
          = link_to root_path do
            %h1.navbar-logo Northwest Orchid Society
          %button.navbar-toggle{type: 'button', data: {toggle: "collapse", target: ".navbar-collapse"}}
            %i.fa.fa-bars.fa-lg
      .navbar-collapse.collapse
        %nav.container
          %ul.main-nav
            %li
              =link_to "Events", events_path
            %li
              =link_to "Members", membership_path
            %li
              =link_to "About", about_path
            %li
              =link_to "Contact", contact_path

          -# %ul.user-nav
          -#   %li
          -#     %a{href: ""} Sign in

  .main           
    = yield

  %footer.footer
    %nav#site-map.container
      %ul.site-map-containing-list
        %li
          %ul.site-map-section-list
            %li.site-map-section-title
              =link_to "Events", events_path
            %li
              %a{href: ""} Judged Shows
            %li
              %a{href: ""} Other Events
        %li
          %ul.site-map-section-list
            %li.site-map-section-title
              =link_to "Members", membership_path
            %li
              %a{href: ""} Newsletter
            %li
              =link_to "Members", membership_path(anchor: 'join-now')
        %li
          %ul.site-map-section-list
            %li.site-map-section-title
              =link_to "About", about_path
            %li
              =link_to "The Society", about_path(anchor: 'the-society')
            %li
              =link_to "Scholarship Info", about_path(anchor: 'scholarship-info')
        %li
          %ul.site-map-section-list
            %li.site-map-section-title
              =link_to "Contact", contact_path

      %ul.social-media-nav
        %li
          %a{href: ""}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x.background-icon
              %i.fa.fa-facebook.fa-stack-1x.foreground-icon
            %span.visuallyhidden facebook
        %li
          %a{href: ""}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x.background-icon
              %i.fa.fa-twitter.fa-stack-1x.foreground-icon
            %span.visuallyhidden Twitter

    .footer-contact-container
      .container
        %h6.footer-title Northwest Orchid Society
        %p.footer-contact-column
          UW Center for Urban Horticulture
          %br
          3501 NE 41st Street
          %br
          Seattle, WA 98105

        %p.footer-contact-column
          PO Box 51021
          %br
          Seattle, WA 98115-1021

        %p.footer-contact-column
          %a.footer-phone{href: "http://tel:+2067815805"} 
            %i.fa.fa-phone
            (206) 781-5805
          %br
          %a.footer-email{href: "mailto:nwos@nwos.org"}
            %i.fa.fa-envelope
            nwos@nwos.org

