!!!
%html
  :plain
    <!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><html class="lt-ie9"><![endif]-->
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1, user-scalable=no'}

    %meta{name: "description", content: "The Northwest Orchid Society is a non-profit organization supporting Seattle orchid hobbyists, orchid conservation, education and scholarship."}
    %meta{name: "keywords", content: "Seattle orchid society, orchids, orchid, society, conservation, cultivation, grow, plants, orchid show, orchid sale"}
    %meta{name: "author", content: "Northwest Orchid Society"}

    -if content_for?(:opengraph)
      = yield :opengraph
    - else
      %meta{ property: 'og:type', content: 'website' }
      %meta{ property: 'og:url', content: get_url(root_path) }
      %meta{ property: 'og:title', content: "Northwest Orchid Society" }
      %meta{ property: 'og:image', content: get_url('/assets/facebook_share.jpg') }
      %meta{ property: 'og:description', content: ENV["FB_COPY"] }

    %title 
      = full_title(yield(:title))

    =surround '<!--[if !IE]> -->'.html_safe, '<!-- <![endif]-->'.html_safe do
      = stylesheet_link_tag "application", media: "all"
    /[if (gte IE 9)]
      = stylesheet_link_tag "application", media: "all"
    /[if (lt IE 9)]
      = stylesheet_link_tag "ie8", :media => "all"
      %script{src: "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

    = javascript_include_tag "application"
    %script{src: "https://maps.googleapis.com/maps/api/js?sensor=false"}
    = csrf_meta_tags
    %script
      / (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      / (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      / m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      / })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      / ga('create', 'UA-45569785-1', 'nwos.org');
      / ga('send', 'pageview');

%body{class: get_body_class}
  %header.header
    .navbar.container
      .navbar-header
        .container
          = link_to root_path do
            %h1.navbar-logo Northwest Orchid Society
          %button.navbar-toggle{type: 'button', data: {toggle: "collapse", target: ".navbar-collapse"}}
            %i.fa.fa-bars.fa-lg
      .navbar-collapse.collapse
        %nav
          %ul.main-nav
            %li
              =link_to "Events", events_path, class: active_if(controller: 'events')
            %li
              =link_to "Members", membership_path, class: active_if(action: 'membership')
            %li
              =link_to "About", about_path, class: active_if(action: 'about')
            %li
              =link_to "Contact", contact_path, class: active_if(action: 'contact')

  .main 
    = yield

  %footer.footer
    .container
      %ul#site-map
        %li.site-map-col
          %ul
            %li
              =link_to "Events", events_path
            %li
              %a{href: ""} Sales
            %li
              %a{href: ""} Judged Shows
        %li.site-map-col
          %ul
            %li
              =link_to "Members", membership_path
            %li
              %a{href: ""} Newsletter
            %li
              =link_to "Become a Member", membership_path(anchor: 'join-now')
        %li.site-map-col
          %ul
            %li
              =link_to "About", about_path
            %li
              =link_to "The Society", about_path(anchor: 'the-society')
            %li
              =link_to "Scholarship", about_path(anchor: 'scholarship')
        %li.site-map-contact
          %ul
            %li
              =link_to "Contact", contact_path
            %li.site-map-col
              %a.footer-email{href: "mailto:nwos@nwos.org"} nwos@nwos.org
              %br
              %a.footer-phone{href: "http://tel:+2067815805"} (206) 781-5805
            %li.site-map-col
              PO Box 51021
              %br
              Seattle, WA 98115-1021
            %li.site-map-col
              UW Botantic Gardens
              %br
              Center for Urban Horticulture
              %br
              3501 NE 41st Street
              %br
              Seattle, WA 98105

      .footer-aside
        %a.donate-link.button{ href: 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9UTLJCEXA725E', target: '_blank'} Donate

        %ul.social-media-nav
          %li
            %a{href: "https://www.facebook.com/nworchidsociety"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x.background-icon
                %i.fa.fa-facebook.fa-stack-1x.foreground-icon
              %span.visuallyhidden facebook
          %li
            %a{href: "https://twitter.com/nworchidsociety"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x.background-icon
                %i.fa.fa-twitter.fa-stack-1x.foreground-icon
              %span.visuallyhidden Twitter

        %p.copyright
          &copy; 2014 Northwest Orchid Society

